{
  "openapi": "3.0.3",
  "info": {
    "title": "Vobiz API",
    "description": "The Vobiz API lets you make calls, manage phone numbers, configure SIP trunks, \nand access account data programmatically.\n\n**Base URL:** `https://api.vobiz.ai`\n\n**Authentication:** All requests require `X-Auth-ID` and `X-Auth-Token` headers.\nObtain these from your [Vobiz Console](https://console.vobiz.ai).\n",
    "version": "1.0",
    "contact": {
      "email": "support@vobiz.ai",
      "url": "https://vobiz.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.vobiz.ai",
      "description": "Production"
    }
  ],
  "security": [
    {
      "AuthID": [],
      "AuthToken": []
    }
  ],
  "components": {
    "securitySchemes": {
      "AuthID": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Auth-ID",
        "description": "Your Vobiz account Auth ID"
      },
      "AuthToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Auth-Token",
        "description": "Your Vobiz account Auth Token"
      }
    },
    "parameters": {
      "AuthId": {
        "name": "auth_id",
        "in": "path",
        "required": true,
        "description": "Your account Auth ID",
        "schema": {
          "type": "string",
          "example": "MA_XXXXXX"
        }
      },
      "SubAuthId": {
        "name": "sub_auth_id",
        "in": "path",
        "required": true,
        "description": "The sub-account's Auth ID.",
        "schema": {
          "type": "string",
          "example": "SA_XXXXXX"
        }
      },
      "CdrFromNumber": {
        "name": "from_number",
        "in": "query",
        "description": "Filter by the originating phone number (caller).",
        "schema": {
          "type": "string",
          "example": "9876543210"
        }
      },
      "CdrToNumber": {
        "name": "to_number",
        "in": "query",
        "description": "Filter by the destination phone number (callee).",
        "schema": {
          "type": "string",
          "example": "1234567890"
        }
      },
      "CdrStartDate": {
        "name": "start_date",
        "in": "query",
        "description": "Beginning of the search period (YYYY-MM-DD). Required when using `end_date`.",
        "schema": {
          "type": "string",
          "format": "date",
          "example": "2026-03-01"
        }
      },
      "CdrEndDate": {
        "name": "end_date",
        "in": "query",
        "description": "End of the search period (YYYY-MM-DD). Required when using `start_date`.",
        "schema": {
          "type": "string",
          "format": "date",
          "example": "2026-03-17"
        }
      },
      "CdrCallDirection": {
        "name": "call_direction",
        "in": "query",
        "description": "Filter by direction.",
        "schema": {
          "type": "string",
          "enum": [
            "inbound",
            "outbound"
          ]
        }
      },
      "CdrMinDuration": {
        "name": "min_duration",
        "in": "query",
        "description": "Minimum call duration in seconds. Excludes calls shorter than this value.",
        "schema": {
          "type": "integer",
          "example": 10
        }
      },
      "CdrSipCallId": {
        "name": "sip_call_id",
        "in": "query",
        "description": "Filter by the SIP Call-ID of the call (matches the cdr's sip_call_id field).",
        "schema": {
          "type": "string",
          "example": "dD1qwu5VZ5iK3ed5u3uspjY5RKL"
        }
      },
      "CdrBridgeUuid": {
        "name": "bridge_uuid",
        "in": "query",
        "description": "Filter by the UUID of the bridged leg (matches the cdr's bridge_uuid field).",
        "schema": {
          "type": "string",
          "example": "4b7ae653-f40d-42f1-b582-6b05dfcd0c0a"
        }
      },
      "CdrHangupCause": {
        "name": "hangup_cause",
        "in": "query",
        "description": "Filter by telephony hangup cause, e.g. NORMAL_CLEARING.",
        "schema": {
          "type": "string",
          "example": "NORMAL_CLEARING"
        }
      },
      "CdrHangupDisposition": {
        "name": "hangup_disposition",
        "in": "query",
        "description": "Filter by how the leg was released, e.g. send_refuse.",
        "schema": {
          "type": "string",
          "example": "send_refuse"
        }
      },
      "CdrContext": {
        "name": "context",
        "in": "query",
        "description": "Filter by the call context, e.g. sip-trunking.",
        "schema": {
          "type": "string",
          "example": "sip-trunking"
        }
      },
      "CdrCampaignId": {
        "name": "campaign_id",
        "in": "query",
        "description": "Filter by the campaign identifier associated with the call.",
        "schema": {
          "type": "string"
        }
      },
      "CdrSearch": {
        "name": "search",
        "in": "query",
        "description": "Free-text search across CDR fields (numbers, IDs, etc.).",
        "schema": {
          "type": "string"
        }
      },
      "CdrPage": {
        "name": "page",
        "in": "query",
        "description": "Page number for paginated results.",
        "schema": {
          "type": "integer",
          "default": 1
        }
      },
      "CdrPerPage": {
        "name": "per_page",
        "in": "query",
        "description": "Number of records per page. Max: 100.",
        "schema": {
          "type": "integer",
          "default": 20,
          "maximum": 100
        }
      }
    },
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "MA_XXXXXX"
          },
          "name": {
            "type": "string",
            "example": "Acme Corporation"
          },
          "email": {
            "type": "string",
            "example": "admin@company.com"
          },
          "auth_id": {
            "type": "string",
            "example": "MA_XXXXXX"
          },
          "account_type": {
            "type": "string",
            "enum": [
              "PREPAID",
              "POSTPAID"
            ]
          },
          "enabled": {
            "type": "boolean"
          },
          "is_active": {
            "type": "boolean"
          },
          "cps_limit": {
            "type": "integer",
            "example": 10
          },
          "concurrent_calls_limit": {
            "type": "integer",
            "example": 50
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Balance": {
        "type": "object",
        "properties": {
          "auth_id": {
            "type": "string"
          },
          "balance": {
            "type": "string",
            "example": "450.00"
          },
          "currency": {
            "type": "string",
            "example": "INR"
          },
          "auto_recharge": {
            "type": "boolean"
          }
        }
      },
      "Call": {
        "type": "object",
        "properties": {
          "api_id": {
            "type": "string"
          },
          "request_uuid": {
            "type": "string"
          },
          "message": {
            "type": "string",
            "example": "Call fired"
          }
        }
      },
      "CallRecord": {
        "type": "object",
        "properties": {
          "call_uuid": {
            "type": "string",
            "example": "cdr_XXXXXXXXXX"
          },
          "from_number": {
            "type": "string"
          },
          "to_number": {
            "type": "string"
          },
          "call_status": {
            "type": "string",
            "enum": [
              "answered",
              "busy",
              "failed",
              "no-answer",
              "cancelled"
            ]
          },
          "duration": {
            "type": "integer"
          },
          "bill_duration": {
            "type": "integer"
          },
          "billed_amount": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SubAccount": {
        "type": "object",
        "properties": {
          "auth_id": {
            "type": "string"
          },
          "auth_token": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "kyc_mode": {
            "type": "string",
            "enum": [
              "personal_use",
              "customer_use"
            ],
            "description": "Verification mode. `customer_use` sub-accounts must complete their own KYC before placing calls."
          },
          "business_type": {
            "type": "string",
            "description": "Legal constitution of the customer (e.g. `private_limited`)."
          },
          "kyc_calls_blocked": {
            "type": "boolean",
            "description": "True while a `customer_use` sub-account has not yet completed the KYC required to place calls."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SubAccountKycStatus": {
        "type": "object",
        "description": "Aggregated KYC state for a sub-account.",
        "properties": {
          "sub_account_id": {
            "type": "string"
          },
          "kyc_mode": {
            "type": "string",
            "enum": [
              "personal_use",
              "customer_use"
            ]
          },
          "business_type": {
            "type": "string"
          },
          "overall_status": {
            "type": "string",
            "enum": [
              "not_started",
              "pending",
              "verified",
              "failed"
            ]
          },
          "kyc_calls_blocked": {
            "type": "boolean",
            "description": "True while the sub-account still needs KYC before it can place calls."
          },
          "verifications": {
            "type": "object",
            "description": "Per-document state keyed by verification type.",
            "additionalProperties": {
              "type": "string",
              "enum": [
                "not_started",
                "pending",
                "verified",
                "failed"
              ]
            }
          }
        }
      },
      "KycVerificationResult": {
        "type": "object",
        "description": "Outcome of a single KYC verification step.",
        "properties": {
          "verification_type": {
            "type": "string",
            "enum": [
              "pan",
              "gst",
              "cin",
              "aadhaar"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "verified",
              "failed",
              "pending"
            ]
          },
          "kyc_calls_blocked": {
            "type": "boolean",
            "description": "Recomputed sub-account call-blocking state after this verification."
          },
          "mock": {
            "type": "boolean",
            "description": "Present and `true` on responses from the test-mode endpoints."
          }
        },
        "required": [
          "verification_type",
          "status"
        ]
      },
      "Trunk": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "trunk_type": {
            "type": "string",
            "enum": [
              "INBOUND",
              "OUTBOUND"
            ]
          },
          "sip_domain": {
            "type": "string",
            "example": "abc123.sip.vobiz.ai"
          },
          "enabled": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "number": {
            "type": "string",
            "example": "+919876543210"
          },
          "number_type": {
            "type": "string",
            "enum": [
              "mobile",
              "landline",
              "toll_free"
            ]
          },
          "country": {
            "type": "string",
            "example": "IN"
          },
          "monthly_rental_rate": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          }
        }
      },
      "Application": {
        "type": "object",
        "properties": {
          "app_id": {
            "type": "string",
            "example": "12345678"
          },
          "app_name": {
            "type": "string",
            "example": "My Voice Application"
          },
          "application_type": {
            "type": "string",
            "example": "voice"
          },
          "answer_url": {
            "type": "string",
            "example": "https://example.com/answer"
          },
          "answer_method": {
            "type": "string",
            "enum": [
              "GET",
              "POST"
            ],
            "default": "POST"
          },
          "hangup_url": {
            "type": "string",
            "example": "https://example.com/hangup"
          },
          "hangup_method": {
            "type": "string",
            "enum": [
              "GET",
              "POST"
            ],
            "default": "POST"
          },
          "fallback_answer_url": {
            "type": "string",
            "example": "https://example.com/fallback"
          },
          "fallback_method": {
            "type": "string",
            "enum": [
              "GET",
              "POST"
            ],
            "default": "POST"
          },
          "message_url": {
            "type": "string",
            "example": "https://example.com/message"
          },
          "message_method": {
            "type": "string",
            "enum": [
              "GET",
              "POST"
            ],
            "default": "POST"
          },
          "default_number_app": {
            "type": "boolean",
            "default": false
          },
          "default_endpoint_app": {
            "type": "boolean",
            "default": false
          },
          "default_app": {
            "type": "boolean",
            "default": false
          },
          "enabled": {
            "type": "boolean",
            "default": true
          },
          "log_incoming_message": {
            "type": "boolean",
            "default": true
          },
          "public_uri": {
            "type": "boolean",
            "default": false
          },
          "sip_transfer_url": {
            "type": "string"
          },
          "sip_transfer_method": {
            "type": "string",
            "enum": [
              "GET",
              "POST"
            ]
          },
          "sip_uri": {
            "type": "string",
            "example": "sip:12345678@vobiz.ai"
          },
          "sub_account": {
            "type": "string",
            "nullable": true
          },
          "resource_uri": {
            "type": "string",
            "example": "/v1/Account/MA_XXXXXX/Application/12345678/"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Endpoint": {
        "type": "object",
        "properties": {
          "endpoint_id": {
            "type": "string",
            "example": "87654321"
          },
          "username": {
            "type": "string",
            "example": "john_doe"
          },
          "alias": {
            "type": "string",
            "example": "John's Desktop Phone"
          },
          "sip_uri": {
            "type": "string",
            "example": "sip:john_doe@sip.vobiz.ai"
          },
          "sip_registered": {
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          "sip_contact": {
            "type": "string",
            "nullable": true
          },
          "sip_expires": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "sip_user_agent": {
            "type": "string",
            "nullable": true
          },
          "application": {
            "type": "object",
            "nullable": true,
            "properties": {
              "app_id": {
                "type": "string"
              },
              "app_name": {
                "type": "string"
              },
              "answer_url": {
                "type": "string"
              },
              "answer_method": {
                "type": "string"
              }
            }
          },
          "allow_voice": {
            "type": "boolean",
            "default": true
          },
          "allow_message": {
            "type": "boolean",
            "default": true
          },
          "allow_video": {
            "type": "boolean",
            "default": false
          },
          "allow_same_domain": {
            "type": "boolean",
            "default": true
          },
          "allow_other_domains": {
            "type": "boolean",
            "default": false
          },
          "allow_phones": {
            "type": "boolean",
            "default": true
          },
          "allow_apps": {
            "type": "boolean",
            "default": true
          },
          "sub_account": {
            "type": "string",
            "nullable": true
          },
          "resource_uri": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "InventoryNumber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "e164": {
            "type": "string",
            "example": "+14155551234"
          },
          "country": {
            "type": "string",
            "example": "US"
          },
          "region": {
            "type": "string",
            "example": "CA"
          },
          "status": {
            "type": "string",
            "example": "active"
          },
          "setup_fee": {
            "type": "number",
            "format": "float",
            "example": 0
          },
          "monthly_fee": {
            "type": "number",
            "format": "float",
            "example": 1
          },
          "currency": {
            "type": "string",
            "example": "INR"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PurchasedNumber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "auth_id": {
            "type": "string"
          },
          "e164": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "setup_fee": {
            "type": "number",
            "format": "float"
          },
          "monthly_fee": {
            "type": "number",
            "format": "float"
          },
          "currency": {
            "type": "string"
          },
          "purchased_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "api_id": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "PartnerProfile": {
        "type": "object",
        "description": "Partner identity, balance, GST configuration, and permanent partner ID.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Permanent partner ID - required as a filter parameter for Transaction and CDR queries.",
            "example": "partner-882abc"
          },
          "name": {
            "type": "string",
            "example": "Acme Telecom"
          },
          "email": {
            "type": "string",
            "example": "partner@acmetelecom.com"
          },
          "phone": {
            "type": "string",
            "example": "9876543210"
          },
          "company": {
            "type": "string",
            "example": "Acme Telecom Private Limited"
          },
          "balance": {
            "type": "number",
            "format": "float",
            "example": 48250
          },
          "currency": {
            "type": "string",
            "example": "INR"
          },
          "gstin": {
            "type": "string",
            "example": "27AAPFU0939F1ZV"
          },
          "gst_status": {
            "type": "string",
            "example": "active"
          },
          "tds_applicable": {
            "type": "boolean",
            "example": false
          },
          "tds_percentage": {
            "type": "number",
            "format": "float",
            "example": 0
          },
          "account_type": {
            "type": "string",
            "example": "partner"
          },
          "status": {
            "type": "string",
            "example": "active"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PartnerAnalytics": {
        "type": "object",
        "description": "Aggregated call analytics across all customer accounts for a date range.",
        "properties": {
          "period": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "date",
                "example": "2026-01-01"
              },
              "to": {
                "type": "string",
                "format": "date",
                "example": "2026-03-31"
              }
            }
          },
          "totals": {
            "type": "object",
            "properties": {
              "total_calls": {
                "type": "integer",
                "example": 124830
              },
              "answered_calls": {
                "type": "integer",
                "example": 118204
              },
              "failed_calls": {
                "type": "integer",
                "example": 6626
              },
              "total_duration_seconds": {
                "type": "integer",
                "example": 7482600
              },
              "total_cost": {
                "type": "number",
                "format": "float",
                "example": 336717
              },
              "currency": {
                "type": "string",
                "example": "INR"
              }
            }
          },
          "by_direction": {
            "type": "object",
            "properties": {
              "inbound": {
                "type": "object",
                "properties": {
                  "calls": {
                    "type": "integer",
                    "example": 61200
                  },
                  "cost": {
                    "type": "number",
                    "format": "float",
                    "example": 165840
                  }
                }
              },
              "outbound": {
                "type": "object",
                "properties": {
                  "calls": {
                    "type": "integer",
                    "example": 63630
                  },
                  "cost": {
                    "type": "number",
                    "format": "float",
                    "example": 170877
                  }
                }
              }
            }
          },
          "top_customers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "auth_id": {
                  "type": "string",
                  "example": "MA_48149cf4"
                },
                "name": {
                  "type": "string",
                  "example": "Credresolve"
                },
                "calls": {
                  "type": "integer",
                  "example": 18420
                },
                "cost": {
                  "type": "number",
                  "format": "float",
                  "example": 82890
                }
              }
            }
          }
        }
      },
      "PartnerCustomer": {
        "type": "object",
        "description": "A SIP-enabled customer sub-account under your partner umbrella.",
        "properties": {
          "auth_id": {
            "type": "string",
            "description": "Permanent customer identifier - primary key for balance transfers, CDR lookups, transaction queries, and number assignments.",
            "example": "MA_48149cf4"
          },
          "name": {
            "type": "string",
            "example": "Credresolve"
          },
          "email": {
            "type": "string",
            "example": "admin@credresolve.com"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "suspended",
              "inactive"
            ],
            "example": "active"
          },
          "balance": {
            "type": "number",
            "format": "float",
            "example": 2450
          },
          "currency": {
            "type": "string",
            "example": "INR"
          },
          "country": {
            "type": "string",
            "example": "IN"
          },
          "timezone": {
            "type": "string",
            "example": "Asia/Kolkata"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BalanceTransferResult": {
        "type": "object",
        "description": "Result of an atomic transfer from the partner master wallet to a customer sub-account.",
        "properties": {
          "transaction_id": {
            "type": "string",
            "example": "txn_abc123"
          },
          "customer_auth_id": {
            "type": "string",
            "example": "MA_48149cf4"
          },
          "amount": {
            "type": "number",
            "format": "float",
            "example": 500
          },
          "currency": {
            "type": "string",
            "example": "INR"
          },
          "description": {
            "type": "string",
            "example": "April recharge - Credresolve"
          },
          "partner_balance_after": {
            "type": "number",
            "format": "float",
            "example": 47750
          },
          "customer_balance_after": {
            "type": "number",
            "format": "float",
            "example": 2950
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "failed"
            ],
            "example": "completed"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PartnerTransaction": {
        "type": "object",
        "description": "A single credit or debit ledger entry on a partner or customer account.",
        "properties": {
          "id": {
            "type": "string",
            "example": "txn_abc123"
          },
          "type": {
            "type": "string",
            "enum": [
              "recharge",
              "debit",
              "adjustment",
              "refund"
            ],
            "example": "recharge"
          },
          "amount": {
            "type": "number",
            "format": "float",
            "example": 500
          },
          "currency": {
            "type": "string",
            "example": "INR"
          },
          "balance_before": {
            "type": "number",
            "format": "float",
            "example": 1950
          },
          "balance_after": {
            "type": "number",
            "format": "float",
            "example": 2450
          },
          "description": {
            "type": "string",
            "example": "April recharge - Credresolve"
          },
          "initiated_by": {
            "type": "string",
            "example": "partner-882abc"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PartnerCDR": {
        "type": "object",
        "description": "Call detail record for a single voice session under a partner customer account.",
        "properties": {
          "call_uuid": {
            "type": "string",
            "example": "abc123-def456-ghi789"
          },
          "from_number": {
            "type": "string",
            "example": "+919876543210"
          },
          "to_number": {
            "type": "string",
            "example": "+911234567890"
          },
          "direction": {
            "type": "string",
            "enum": [
              "inbound",
              "outbound"
            ],
            "example": "outbound"
          },
          "status": {
            "type": "string",
            "enum": [
              "answered",
              "busy",
              "failed",
              "no-answer",
              "cancelled"
            ],
            "example": "answered"
          },
          "duration_seconds": {
            "type": "integer",
            "example": 185
          },
          "hangup_cause": {
            "type": "string",
            "example": "NORMAL_CLEARING"
          },
          "cost": {
            "type": "number",
            "format": "float",
            "example": 1.39
          },
          "currency": {
            "type": "string",
            "example": "INR"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "answer_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "trunk_id": {
            "type": "string",
            "example": "trunk_abc"
          },
          "context": {
            "type": "string",
            "example": "sip-trunking"
          },
          "account_auth_id": {
            "type": "string",
            "example": "MA_48149cf4"
          }
        }
      },
      "PartnerNumber": {
        "type": "object",
        "description": "A DID phone number assigned to a customer account under the partner umbrella.",
        "properties": {
          "number": {
            "type": "string",
            "example": "+912271264217"
          },
          "account_auth_id": {
            "type": "string",
            "example": "MA_48149cf4"
          },
          "account_name": {
            "type": "string",
            "example": "Credresolve"
          },
          "number_type": {
            "type": "string",
            "example": "local"
          },
          "country": {
            "type": "string",
            "example": "IN"
          },
          "region": {
            "type": "string",
            "example": "Mumbai"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive",
              "expired"
            ],
            "example": "active"
          },
          "application_id": {
            "type": "string",
            "example": "app_abc123"
          },
          "application_name": {
            "type": "string",
            "example": "Main IVR"
          },
          "trunk_id": {
            "type": "string",
            "example": "trunk_xyz"
          },
          "monthly_cost": {
            "type": "number",
            "format": "float",
            "example": 500
          },
          "currency": {
            "type": "string",
            "example": "INR"
          },
          "assigned_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Account",
      "description": "Manage your account details and credentials"
    },
    {
      "name": "Balance",
      "description": "Retrieve balance and transaction history"
    },
    {
      "name": "Calls",
      "description": "Make and manage outbound calls"
    },
    {
      "name": "Live Calls",
      "description": "Retrieve and control in-progress calls"
    },
    {
      "name": "CDR",
      "description": "Call detail records and history"
    },
    {
      "name": "Sub-Accounts",
      "description": "Create and manage sub-accounts"
    },
    {
      "name": "Phone Numbers",
      "description": "Manage phone numbers on your account"
    },
    {
      "name": "Trunks",
      "description": "Configure SIP trunks for inbound and outbound calling"
    },
    {
      "name": "Conference",
      "description": "Manage conference calls and members"
    },
    {
      "name": "Applications",
      "description": "Manage voice and messaging applications with webhook URLs"
    },
    {
      "name": "Endpoints",
      "description": "Manage SIP endpoints for IP phones, softphones, and SIP clients"
    },
    {
      "name": "Partner API",
      "description": "Reseller and white-label endpoints for managing customer sub-accounts, balance transfers, transactions, CDRs, and DIDs across your partner ecosystem"
    },
    {
      "name": "Sub-Account KYC",
      "description": "Per-sub-account KYC verification (PAN, GST, CIN, Aadhaar, DigiLocker) and hosted email/redirect KYC sessions. Authenticated as the parent main account."
    },
    {
      "name": "Sub-Account KYC (Test Mode)",
      "description": "Mock KYC endpoints that never call the upstream provider. Drive verified / failed / pending / error outcomes with magic inputs for integration testing."
    }
  ],
  "paths": {
    "/api/v1/auth/me": {
      "get": {
        "operationId": "retrieve-account",
        "summary": "Retrieve account",
        "description": "Retrieve complete account details including pricing tier and credentials.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "api_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "auth_id": {
                      "type": "string"
                    },
                    "auth_secret": {
                      "type": "string"
                    },
                    "auth_token_expire_time": {
                      "nullable": true
                    },
                    "country": {
                      "type": "string"
                    },
                    "timezone": {
                      "type": "string"
                    },
                    "city": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "address": {
                      "type": "string"
                    },
                    "zip_code": {
                      "type": "string"
                    },
                    "company": {
                      "type": "string"
                    },
                    "account_type": {
                      "type": "string"
                    },
                    "postpaid": {
                      "type": "boolean"
                    },
                    "auto_recharge": {
                      "type": "boolean"
                    },
                    "auto_recharge_config": {
                      "nullable": true
                    },
                    "enabled": {
                      "type": "boolean"
                    },
                    "carrier_type": {
                      "nullable": true
                    },
                    "customer_type": {
                      "nullable": true
                    },
                    "credit_limit": {
                      "type": "integer"
                    },
                    "cps_limit": {
                      "type": "integer"
                    },
                    "concurrent_calls_limit": {
                      "type": "integer"
                    },
                    "base_cps_limit": {
                      "type": "integer"
                    },
                    "base_concurrent_calls_limit": {
                      "type": "integer"
                    },
                    "purchased_cps": {
                      "type": "integer"
                    },
                    "purchased_concurrent_calls": {
                      "type": "integer"
                    },
                    "risk_rating": {
                      "type": "integer"
                    },
                    "risk_status": {
                      "nullable": true
                    },
                    "features": {
                      "type": "object",
                      "properties": {
                        "call_queue": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "call_queue"
                      ]
                    },
                    "ip_auth_enabled": {
                      "type": "boolean"
                    },
                    "ip_whitelist_rules": {
                      "type": "object"
                    },
                    "allow_aws_ips": {
                      "type": "boolean"
                    },
                    "role": {
                      "type": "string"
                    },
                    "is_active": {
                      "type": "boolean"
                    },
                    "is_verified": {
                      "type": "boolean"
                    },
                    "is_trial_account": {
                      "type": "boolean"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "last_login": {
                      "type": "string"
                    },
                    "pricing_tier_id": {
                      "type": "string"
                    },
                    "pricing_tier": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "currency": {
                          "type": "string"
                        },
                        "rate_per_minute": {
                          "type": "number"
                        },
                        "billing_increment_seconds": {
                          "type": "integer"
                        },
                        "minimum_duration_seconds": {
                          "type": "integer"
                        },
                        "is_active": {
                          "type": "boolean"
                        },
                        "is_default": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "description",
                        "currency",
                        "rate_per_minute",
                        "billing_increment_seconds",
                        "minimum_duration_seconds",
                        "is_active",
                        "is_default"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "id",
                    "api_id",
                    "name",
                    "email",
                    "phone",
                    "description",
                    "auth_id",
                    "auth_secret",
                    "auth_token_expire_time",
                    "country",
                    "timezone",
                    "city",
                    "state",
                    "address",
                    "zip_code",
                    "company",
                    "account_type",
                    "postpaid",
                    "auto_recharge",
                    "auto_recharge_config",
                    "enabled",
                    "carrier_type",
                    "customer_type",
                    "credit_limit",
                    "cps_limit",
                    "concurrent_calls_limit",
                    "base_cps_limit",
                    "base_concurrent_calls_limit",
                    "purchased_cps",
                    "purchased_concurrent_calls",
                    "risk_rating",
                    "risk_status",
                    "features",
                    "ip_auth_enabled",
                    "ip_whitelist_rules",
                    "allow_aws_ips",
                    "role",
                    "is_active",
                    "is_verified",
                    "is_trial_account",
                    "created_at",
                    "updated_at",
                    "last_login",
                    "pricing_tier_id",
                    "pricing_tier"
                  ]
                },
                "example": {
                  "type": "account",
                  "id": "500000",
                  "api_id": "aabbccdd-1234-5678-90ab-cdef12345678",
                  "name": "Acme Corp",
                  "email": "admin@example.com",
                  "phone": "+919876543210",
                  "description": null,
                  "auth_id": "MA_XXXXXXXX",
                  "auth_secret": "<redacted>",
                  "auth_token_expire_time": null,
                  "country": "IN",
                  "timezone": "Asia/Kolkata",
                  "city": "Bengaluru",
                  "state": "KA",
                  "address": "123 Example Street, Bengaluru",
                  "zip_code": "560001",
                  "company": "Acme Corp",
                  "account_type": "standard",
                  "postpaid": false,
                  "auto_recharge": true,
                  "auto_recharge_config": null,
                  "enabled": true,
                  "carrier_type": null,
                  "customer_type": null,
                  "credit_limit": 0,
                  "cps_limit": 11,
                  "concurrent_calls_limit": 10,
                  "base_cps_limit": 1,
                  "base_concurrent_calls_limit": 10,
                  "purchased_cps": 10,
                  "purchased_concurrent_calls": 0,
                  "risk_rating": 0,
                  "risk_status": null,
                  "features": {
                    "call_queue": true
                  },
                  "ip_auth_enabled": false,
                  "ip_whitelist_rules": {},
                  "allow_aws_ips": false,
                  "role": "admin",
                  "is_active": true,
                  "is_verified": false,
                  "is_trial_account": false,
                  "created_at": "2025-09-30T08:33:24.700542+00:00",
                  "updated_at": "2026-05-12T05:41:41.892287+00:00",
                  "last_login": "2026-05-12T05:41:42.601005+00:00",
                  "pricing_tier_id": "11223344-5566-7788-99aa-bbccddeeff00",
                  "pricing_tier": {
                    "id": "11223344-5566-7788-99aa-bbccddeeff00",
                    "name": "Standard",
                    "description": null,
                    "currency": "INR",
                    "rate_per_minute": 0.45,
                    "billing_increment_seconds": 60,
                    "minimum_duration_seconds": 0,
                    "is_active": true,
                    "is_default": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/api/v1/Account/{auth_id}/concurrency": {
      "get": {
        "operationId": "get-concurrency",
        "summary": "Get concurrency limits",
        "description": "Retrieve the current concurrent call usage and configured limits.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthId"
          }
        ],
        "responses": {
          "200": {
            "description": "Concurrency info",
            "content": {
              "application/json": {
                "example": {
                  "account_id": "MA_XXXXXXXX",
                  "concurrent_calls": 0,
                  "max_concurrent": 46,
                  "utilization_pct": 0,
                  "request_id": "aabbccdd1234567890abcdef12345678"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_id": {
                      "type": "string"
                    },
                    "concurrent_calls": {
                      "type": "integer"
                    },
                    "max_concurrent": {
                      "type": "integer"
                    },
                    "utilization_pct": {
                      "type": "integer"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "account_id",
                    "concurrent_calls",
                    "max_concurrent",
                    "utilization_pct",
                    "request_id"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Account/{auth_id}/balance/{currency}": {
      "get": {
        "operationId": "get-balance",
        "summary": "Get balance",
        "description": "Retrieve the current account balance for a specific currency.",
        "tags": [
          "Balance"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthId"
          },
          {
            "name": "currency",
            "in": "path",
            "required": true,
            "description": "Currency code (e.g. INR, USD)",
            "schema": {
              "type": "string",
              "example": "INR"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "account_id": {
                      "type": "string"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "balance": {
                      "type": "number"
                    },
                    "reserved_funds": {
                      "type": "integer"
                    },
                    "promotional_balance": {
                      "type": "integer"
                    },
                    "promotional_reserved_balance": {
                      "type": "integer"
                    },
                    "available_balance": {
                      "type": "number"
                    },
                    "credit_limit": {
                      "type": "integer"
                    },
                    "is_postpaid": {
                      "type": "boolean"
                    },
                    "credit_limit_type": {
                      "type": "string"
                    },
                    "low_balance_threshold": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "account_id",
                    "currency",
                    "balance",
                    "reserved_funds",
                    "promotional_balance",
                    "promotional_reserved_balance",
                    "available_balance",
                    "credit_limit",
                    "is_postpaid",
                    "credit_limit_type",
                    "low_balance_threshold",
                    "status",
                    "created_at",
                    "updated_at"
                  ]
                },
                "example": {
                  "id": "aabbccdd-1234-5678-90ab-cdef12345678",
                  "account_id": "MA_XXXXXXXX",
                  "currency": "INR",
                  "balance": 23906.83,
                  "reserved_funds": 0,
                  "promotional_balance": 0,
                  "promotional_reserved_balance": 0,
                  "available_balance": 23906.83,
                  "credit_limit": 1000,
                  "is_postpaid": true,
                  "credit_limit_type": "soft",
                  "low_balance_threshold": 50,
                  "status": "active",
                  "created_at": "2026-01-19T18:39:15.050543Z",
                  "updated_at": "2026-05-11T06:59:32.802705Z"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Account/{auth_id}/transactions": {
      "get": {
        "operationId": "list-transactions",
        "summary": "List transactions",
        "description": "Retrieve paginated transaction history for the account.",
        "tags": [
          "Balance"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction list",
            "content": {
              "application/json": {
                "example": {
                  "transactions": [
                    {
                      "id": "aabbccdd-1234-5678-90ab-cdef12345678",
                      "account_id": "MA_XXXXXXXX",
                      "balance_id": "11223344-5566-7788-99aa-bbccddeeff00",
                      "type": "debit",
                      "amount": 0.08,
                      "currency": "INR",
                      "description": "Call to 919876543210 (1s)",
                      "reference": "cdr:99887766-aabb-ccdd-eeff-001122334455",
                      "reference_type": "cdr",
                      "status": "completed",
                      "processed_at": "2026-05-11T06:59:32.806790Z",
                      "created_at": "2026-05-11T06:59:32.806790Z",
                      "updated_at": "2026-05-11T06:59:32.806790Z"
                    }
                  ],
                  "summary": {
                    "total_transactions": 5657,
                    "total_debit": 138901.97,
                    "total_credit": 350806,
                    "net_amount": 211904.03,
                    "by_reference_type": [
                      {
                        "reference_type": "cdr",
                        "total_debit": 932.93,
                        "total_credit": 0,
                        "count": 1866
                      },
                      {
                        "reference_type": "did_rental",
                        "total_debit": 18100,
                        "total_credit": 0,
                        "count": 44
                      },
                      {
                        "reference_type": "manual_adjustment",
                        "total_debit": 0,
                        "total_credit": 2455,
                        "count": 6
                      }
                    ]
                  },
                  "total": 5657,
                  "page": 1,
                  "per_page": 50,
                  "total_pages": 114
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "account_id": {
                            "type": "string"
                          },
                          "balance_id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "reference": {
                            "type": "string"
                          },
                          "reference_type": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "processed_at": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "account_id",
                          "balance_id",
                          "type",
                          "amount",
                          "currency",
                          "description",
                          "reference",
                          "status",
                          "processed_at",
                          "created_at",
                          "updated_at"
                        ]
                      }
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "total_transactions": {
                          "type": "integer"
                        },
                        "total_debit": {
                          "type": "number"
                        },
                        "total_credit": {
                          "type": "integer"
                        },
                        "net_amount": {
                          "type": "number"
                        },
                        "by_reference_type": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "reference_type": {
                                "type": "string"
                              },
                              "total_debit": {
                                "type": "number"
                              },
                              "total_credit": {
                                "type": "integer"
                              },
                              "count": {
                                "type": "integer"
                              }
                            },
                            "required": [
                              "reference_type",
                              "total_debit",
                              "total_credit",
                              "count"
                            ]
                          }
                        }
                      },
                      "required": [
                        "total_transactions",
                        "total_debit",
                        "total_credit",
                        "net_amount",
                        "by_reference_type"
                      ]
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "per_page": {
                      "type": "integer"
                    },
                    "total_pages": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "transactions",
                    "summary",
                    "total",
                    "page",
                    "per_page",
                    "total_pages"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Account/{auth_id}/Call/": {
      "get": {
        "operationId": "list-queued-calls",
        "summary": "List queued calls",
        "description": "Retrieve all queued (pending, not yet connected) calls on the account.",
        "tags": [
          "Live Calls"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthId"
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "live",
                "queued"
              ],
              "default": "queued"
            },
            "example": "queued"
          }
        ],
        "responses": {
          "200": {
            "description": "List of queued call UUIDs",
            "content": {
              "application/json": {
                "example": {
                  "api_id": "c9527676-5839-11e1-86da-6ff39efcb949",
                  "calls": [
                    "eac94337-b1cd-499b-82d1-b39bca50dc31",
                    "0a70a7fb-168e-4944-a846-4f3f4d2f96f1"
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_id": {
                      "type": "string",
                      "description": "Unique identifier for this API request"
                    },
                    "calls": {
                      "type": "array",
                      "description": "Array of call UUIDs for all queued calls (max 20)",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "api_id",
                    "calls"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "make-call",
        "summary": "Make an outbound call",
        "description": "Initiate an outbound call to a PSTN number or SIP endpoint.\nUse `<` to separate multiple destinations (max 1000).\n",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string"
                  },
                  "to": {
                    "type": "string"
                  },
                  "answer_url": {
                    "type": "string"
                  },
                  "answer_method": {
                    "type": "string"
                  }
                },
                "required": [
                  "from",
                  "to",
                  "answer_url",
                  "answer_method"
                ]
              },
              "example": {
                "from": "14155551234",
                "to": "+919876543210",
                "answer_url": "https://example.com/answer",
                "answer_method": "POST",
                "time_limit": 3600
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call initiated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "request_uuid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "api_id",
                    "message",
                    "request_uuid"
                  ]
                },
                "example": {
                  "api_id": "5a9fcfee-3d4c-11ef-bef9-0242ac110005",
                  "request_uuid": "5a9fd4a0-3d4c-11ef-bef9-0242ac110005",
                  "message": "Call fired"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Account/{auth_id}/Call": {
      "get": {
        "operationId": "list-live-calls",
        "summary": "List live calls",
        "description": "Retrieve all currently active (live) calls on the account.",
        "tags": [
          "Live Calls"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthId"
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "live",
                "queued"
              ],
              "default": "live"
            },
            "example": "live"
          }
        ],
        "responses": {
          "200": {
            "description": "List of live call UUIDs",
            "content": {
              "application/json": {
                "example": {
                  "api_id": "c9527676-5839-11e1-86da-6ff39efcb949",
                  "calls": [
                    "eac94337-b1cd-499b-82d1-b39bca50dc31",
                    "0a70a7fb-168e-4944-a846-4f3f4d2f96f1"
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_id": {
                      "type": "string",
                      "description": "Unique identifier for this API request"
                    },
                    "calls": {
                      "type": "array",
                      "description": "Array of call UUIDs for all active calls",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "api_id",
                    "calls"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Account/{auth_id}/Call/{call_uuid}": {
      "get": {
        "operationId": "get-live-call",
        "summary": "Retrieve a live call",
        "description": "Retrieve details of a specific live or queued call.",
        "tags": [
          "Live Calls"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthId"
          },
          {
            "name": "call_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cdr_XXXXXXXXXX"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "live",
                "queued"
              ],
              "default": "live"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Live call details",
            "content": {
              "application/json": {
                "example": {
                  "api_id": "c9cab827-d7e6-4ab8-b521-f29e593a1c26",
                  "call_status": "in-progress",
                  "call_uuid": "2ded13fe-4f9b-4958-9bfb-093ea2f29f91",
                  "caller_name": "",
                  "direction": "outbound",
                  "from": "919262171438",
                  "request_uuid": "2ded13fe-4f9b-4958-9bfb-093ea2f29f91",
                  "session_start": "2026-06-11 16:03:28.586839",
                  "stir_attestation": "Not Applicable",
                  "stir_verification": "Not Applicable",
                  "to": "919148227303"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_id": {
                      "type": "string",
                      "description": "Unique identifier for this API request"
                    },
                    "call_status": {
                      "type": "string",
                      "description": "Current state of the call (e.g. in-progress)"
                    },
                    "call_uuid": {
                      "type": "string"
                    },
                    "caller_name": {
                      "type": "string"
                    },
                    "direction": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string"
                    },
                    "request_uuid": {
                      "type": "string"
                    },
                    "session_start": {
                      "type": "string"
                    },
                    "stir_attestation": {
                      "type": "string"
                    },
                    "stir_verification": {
                      "type": "string"
                    },
                    "to": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "api_id",
                    "call_status",
                    "call_uuid",
                    "caller_name",
                    "direction",
                    "from",
                    "request_uuid",
                    "session_start",
                    "stir_attestation",
                    "stir_verification",
                    "to"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "hangup-call",
        "summary": "Hang up a call",
        "description": "Terminate an active call by its UUID.",
        "tags": [
          "Live Calls"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthId"
          },
          {
            "name": "call_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Call terminated"
          }
        }
      }
    },
    "/api/v1/Account/{auth_id}/Call/{call_uuid}/": {
      "get": {
        "operationId": "get-queued-call",
        "summary": "Retrieve a queued call",
        "description": "Retrieve details of a specific queued (pending) call.",
        "tags": [
          "Live Calls"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthId"
          },
          {
            "name": "call_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cdr_XXXXXXXXXX"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "live",
                "queued"
              ],
              "default": "queued"
            },
            "example": "queued"
          }
        ],
        "responses": {
          "200": {
            "description": "Queued call details",
            "content": {
              "application/json": {
                "example": {
                  "api_id": "45223222-74f8-11e1-8ea7-12313806be9a",
                  "call_status": "queued",
                  "call_uuid": "6653422-91b6-4716-9fad-9463daaeeec2",
                  "request_uuid": "6653422-91b6-4716-9fad-9463daaeeec2",
                  "caller_name": "+15856338537",
                  "direction": "outbound",
                  "from": "15856338537",
                  "to": "14154290945"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_id": {
                      "type": "string",
                      "description": "Unique identifier for this API request"
                    },
                    "call_status": {
                      "type": "string",
                      "description": "Always queued for this endpoint"
                    },
                    "call_uuid": {
                      "type": "string"
                    },
                    "request_uuid": {
                      "type": "string"
                    },
                    "caller_name": {
                      "type": "string"
                    },
                    "direction": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string"
                    },
                    "to": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "api_id",
                    "call_status",
                    "call_uuid",
                    "request_uuid",
                    "caller_name",
                    "direction",
                    "from",
                    "to"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Account/{auth_id}/cdr": {
      "get": {
        "operationId": "list-cdrs",
        "summary": "List call records",
        "description": "Returns all CDRs for your account. Supports filtering by phone numbers,\ndate range, call direction, duration, and pagination.\n",
        "tags": [
          "CDR"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthId"
          },
          {
            "$ref": "#/components/parameters/CdrFromNumber"
          },
          {
            "$ref": "#/components/parameters/CdrToNumber"
          },
          {
            "$ref": "#/components/parameters/CdrStartDate"
          },
          {
            "$ref": "#/components/parameters/CdrEndDate"
          },
          {
            "$ref": "#/components/parameters/CdrCallDirection"
          },
          {
            "$ref": "#/components/parameters/CdrMinDuration"
          },
          {
            "$ref": "#/components/parameters/CdrSipCallId"
          },
          {
            "$ref": "#/components/parameters/CdrBridgeUuid"
          },
          {
            "$ref": "#/components/parameters/CdrHangupCause"
          },
          {
            "$ref": "#/components/parameters/CdrHangupDisposition"
          },
          {
            "$ref": "#/components/parameters/CdrContext"
          },
          {
            "$ref": "#/components/parameters/CdrCampaignId"
          },
          {
            "$ref": "#/components/parameters/CdrSearch"
          },
          {
            "$ref": "#/components/parameters/CdrPage"
          },
          {
            "$ref": "#/components/parameters/CdrPerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of CDRs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_id": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account_id": {
                            "type": "string"
                          },
                          "answer_time": {
                            "type": "string",
                            "nullable": true
                          },
                          "billsec": {
                            "type": "integer"
                          },
                          "bridge_uuid": {
                            "type": "string",
                            "nullable": true
                          },
                          "call_direction": {
                            "type": "string"
                          },
                          "caller_id_name": {
                            "type": "string"
                          },
                          "caller_id_number": {
                            "type": "string"
                          },
                          "campaign_id": {
                            "nullable": true
                          },
                          "carrier_ip": {
                            "nullable": true
                          },
                          "codec": {
                            "type": "string",
                            "nullable": true
                          },
                          "context": {
                            "type": "string"
                          },
                          "cost": {
                            "type": "number"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customer_endpoint": {
                            "nullable": true
                          },
                          "destination_number": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "integer"
                          },
                          "end_time": {
                            "type": "string"
                          },
                          "failure_code": {
                            "type": "string",
                            "nullable": true
                          },
                          "failure_reason": {
                            "type": "string",
                            "nullable": true
                          },
                          "hangup_cause": {
                            "type": "string",
                            "nullable": true
                          },
                          "hangup_cause_code": {
                            "type": "integer",
                            "nullable": true
                          },
                          "hangup_cause_name": {
                            "type": "string",
                            "nullable": true
                          },
                          "hangup_disposition": {
                            "type": "string",
                            "nullable": true
                          },
                          "hangup_source": {
                            "type": "string",
                            "nullable": true
                          },
                          "id": {
                            "type": "integer"
                          },
                          "jitter": {
                            "type": "number",
                            "nullable": true
                          },
                          "mos": {
                            "type": "number",
                            "nullable": true
                          },
                          "network_addr": {
                            "type": "string",
                            "nullable": true
                          },
                          "origination_region": {
                            "type": "string"
                          },
                          "packet_loss": {
                            "type": "number",
                            "nullable": true
                          },
                          "progress_time": {
                            "type": "string",
                            "nullable": true
                          },
                          "region": {
                            "type": "string"
                          },
                          "ring_time": {
                            "type": "integer"
                          },
                          "sip_call_id": {
                            "type": "string"
                          },
                          "sip_user_agent": {
                            "type": "string",
                            "nullable": true
                          },
                          "start_time": {
                            "type": "string"
                          },
                          "streaming_cost": {
                            "type": "number"
                          },
                          "terminated_to": {
                            "type": "string",
                            "nullable": true
                          },
                          "total_cost": {
                            "type": "number"
                          },
                          "trunk_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "account_id",
                          "answer_time",
                          "billsec",
                          "bridge_uuid",
                          "call_direction",
                          "caller_id_name",
                          "caller_id_number",
                          "campaign_id",
                          "carrier_ip",
                          "codec",
                          "context",
                          "cost",
                          "created_at",
                          "currency",
                          "customer_endpoint",
                          "destination_number",
                          "duration",
                          "end_time",
                          "failure_code",
                          "failure_reason",
                          "hangup_cause",
                          "hangup_cause_code",
                          "hangup_cause_name",
                          "hangup_disposition",
                          "hangup_source",
                          "id",
                          "jitter",
                          "mos",
                          "network_addr",
                          "origination_region",
                          "packet_loss",
                          "progress_time",
                          "region",
                          "ring_time",
                          "sip_call_id",
                          "sip_user_agent",
                          "start_time",
                          "streaming_cost",
                          "terminated_to",
                          "total_cost",
                          "trunk_id",
                          "updated_at",
                          "uuid"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "pages": {
                          "type": "integer"
                        },
                        "has_next": {
                          "type": "boolean"
                        },
                        "has_prev": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "page",
                        "per_page",
                        "total",
                        "pages",
                        "has_next",
                        "has_prev"
                      ]
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "answerRate": {
                          "type": "number"
                        },
                        "answeredCalls": {
                          "type": "integer"
                        },
                        "avgCallDuration": {
                          "type": "string"
                        },
                        "last_call_at": {
                          "type": "string"
                        },
                        "totalCalls": {
                          "type": "integer"
                        },
                        "total_billable_seconds": {
                          "type": "integer"
                        },
                        "total_cost": {
                          "type": "number"
                        },
                        "total_duration_seconds": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "answerRate",
                        "answeredCalls",
                        "avgCallDuration",
                        "last_call_at",
                        "totalCalls",
                        "total_billable_seconds",
                        "total_cost",
                        "total_duration_seconds"
                      ]
                    }
                  },
                  "required": [
                    "account_id",
                    "count",
                    "data",
                    "pagination",
                    "success",
                    "summary"
                  ]
                },
                "example": {
                  "account_id": "MA_XXXXXXXX",
                  "count": 2,
                  "data": [
                    {
                      "account_id": "MA_XXXXXXXX",
                      "answer_time": "2026-03-25T10:00:01Z",
                      "billsec": 42,
                      "bridge_uuid": "aabbccdd-1234-5678-90ab-cdef12345678",
                      "call_direction": "outbound",
                      "caller_id_name": "John Doe",
                      "caller_id_number": "+919876543210",
                      "campaign_id": null,
                      "carrier_ip": "10.0.0.1",
                      "codec": "PCMU",
                      "context": "voice-api",
                      "cost": 0.45,
                      "created_at": "2026-03-25T10:00:42Z",
                      "currency": "INR",
                      "customer_endpoint": null,
                      "destination_number": "+918012345678",
                      "duration": 47,
                      "end_time": "2026-03-25T10:00:42Z",
                      "failure_code": null,
                      "failure_reason": null,
                      "hangup_cause": "NORMAL_CLEARING",
                      "hangup_cause_code": 4000,
                      "hangup_cause_name": "Normal Hangup",
                      "hangup_disposition": "send_bye",
                      "hangup_source": "Caller",
                      "id": 18000000,
                      "jitter": 0.2,
                      "mos": 4.5,
                      "network_addr": "10.0.0.1",
                      "origination_region": "mumbai",
                      "packet_loss": 0.1,
                      "progress_time": "2026-03-25T10:00:00Z",
                      "region": "ap-south-1",
                      "ring_time": 5,
                      "sip_call_id": "11223344-5566-7788-99aa-bbccddeeff00",
                      "sip_user_agent": "Vobiz",
                      "start_time": "2026-03-25T10:00:00Z",
                      "streaming_cost": 0,
                      "terminated_to": null,
                      "total_cost": 0.45,
                      "trunk_id": null,
                      "updated_at": "2026-03-25T10:00:42Z",
                      "uuid": "aabbccdd-1234-5678-90ab-cdef12345678"
                    },
                    {
                      "account_id": "MA_XXXXXXXX",
                      "answer_time": null,
                      "billsec": 0,
                      "bridge_uuid": null,
                      "call_direction": "inbound",
                      "caller_id_name": "",
                      "caller_id_number": "+919876543210",
                      "campaign_id": null,
                      "carrier_ip": null,
                      "codec": "PCMU",
                      "context": "voice-api",
                      "cost": 0,
                      "created_at": "2026-03-25T09:30:12Z",
                      "currency": "INR",
                      "customer_endpoint": null,
                      "destination_number": "+918012345678",
                      "duration": 12,
                      "end_time": "2026-03-25T09:30:12Z",
                      "failure_code": "16",
                      "failure_reason": "NO_ANSWER",
                      "hangup_cause": "NO_ANSWER",
                      "hangup_cause_code": 4100,
                      "hangup_cause_name": "No Answer",
                      "hangup_disposition": "send_cancel",
                      "hangup_source": "Callee",
                      "id": 18000001,
                      "jitter": 0,
                      "mos": 0,
                      "network_addr": "10.0.0.1",
                      "origination_region": "mumbai",
                      "packet_loss": 0,
                      "progress_time": "2026-03-25T09:30:00Z",
                      "region": "ap-south-1",
                      "ring_time": 12,
                      "sip_call_id": "99887766-5544-3322-1100-aabbccddeeff",
                      "sip_user_agent": "Vobiz",
                      "start_time": "2026-03-25T09:30:00Z",
                      "streaming_cost": 0,
                      "terminated_to": null,
                      "total_cost": 0,
                      "trunk_id": null,
                      "updated_at": "2026-03-25T09:30:12Z",
                      "uuid": "11223344-5566-7788-99aa-bbccddeeff00"
                    }
                  ],
                  "pagination": {
                    "page": 1,
                    "per_page": 20,
                    "total": 4500,
                    "pages": 225,
                    "has_next": true,
                    "has_prev": false
                  },
                  "success": true,
                  "summary": {
                    "answerRate": 48.2,
                    "answeredCalls": 2171,
                    "avgCallDuration": "28s",
                    "last_call_at": "2026-03-25T10:00:00Z",
                    "totalCalls": 4500,
                    "total_billable_seconds": 61211,
                    "total_cost": 1564.51,
                    "total_duration_seconds": 118234
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/Account/{auth_id}/cdr/search": {
      "get": {
        "operationId": "search-cdrs",
        "summary": "Search CDRs with filter summary",
        "description": "Identical filters to the list endpoint, but the response also includes a\n`filter_summary` object describing the active filters applied.\n",
        "tags": [
          "CDR"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthId"
          },
          {
            "$ref": "#/components/parameters/CdrFromNumber"
          },
          {
            "$ref": "#/components/parameters/CdrToNumber"
          },
          {
            "$ref": "#/components/parameters/CdrStartDate"
          },
          {
            "$ref": "#/components/parameters/CdrEndDate"
          },
          {
            "$ref": "#/components/parameters/CdrCallDirection"
          },
          {
            "$ref": "#/components/parameters/CdrMinDuration"
          },
          {
            "$ref": "#/components/parameters/CdrSipCallId"
          },
          {
            "$ref": "#/components/parameters/CdrBridgeUuid"
          },
          {
            "$ref": "#/components/parameters/CdrHangupCause"
          },
          {
            "$ref": "#/components/parameters/CdrHangupDisposition"
          },
          {
            "$ref": "#/components/parameters/CdrContext"
          },
          {
            "$ref": "#/components/parameters/CdrCampaignId"
          },
          {
            "$ref": "#/components/parameters/CdrSearch"
          },
          {
            "$ref": "#/components/parameters/CdrPage"
          },
          {
            "$ref": "#/components/parameters/CdrPerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "CDR list with active filter summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_id": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account_id": {
                            "type": "string"
                          },
                          "answer_time": {
                            "type": "string",
                            "nullable": true
                          },
                          "billsec": {
                            "type": "integer"
                          },
                          "bridge_uuid": {
                            "type": "string",
                            "nullable": true
                          },
                          "call_direction": {
                            "type": "string"
                          },
                          "caller_id_name": {
                            "type": "string"
                          },
                          "caller_id_number": {
                            "type": "string"
                          },
                          "campaign_id": {
                            "nullable": true
                          },
                          "carrier_ip": {
                            "nullable": true
                          },
                          "codec": {
                            "type": "string",
                            "nullable": true
                          },
                          "context": {
                            "type": "string"
                          },
                          "cost": {
                            "type": "number"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customer_endpoint": {
                            "nullable": true
                          },
                          "destination_number": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "integer"
                          },
                          "end_time": {
                            "type": "string"
                          },
                          "failure_code": {
                            "type": "string",
                            "nullable": true
                          },
                          "failure_reason": {
                            "type": "string",
                            "nullable": true
                          },
                          "hangup_cause": {
                            "type": "string",
                            "nullable": true
                          },
                          "hangup_cause_code": {
                            "type": "integer",
                            "nullable": true
                          },
                          "hangup_cause_name": {
                            "type": "string",
                            "nullable": true
                          },
                          "hangup_disposition": {
                            "type": "string",
                            "nullable": true
                          },
                          "hangup_source": {
                            "type": "string",
                            "nullable": true
                          },
                          "id": {
                            "type": "integer"
                          },
                          "jitter": {
                            "type": "number",
                            "nullable": true
                          },
                          "mos": {
                            "type": "number",
                            "nullable": true
                          },
                          "network_addr": {
                            "type": "string",
                            "nullable": true
                          },
                          "origination_region": {
                            "type": "string"
                          },
                          "packet_loss": {
                            "type": "number",
                            "nullable": true
                          },
                          "progress_time": {
                            "type": "string",
                            "nullable": true
                          },
                          "region": {
                            "type": "string"
                          },
                          "ring_time": {
                            "type": "integer"
                          },
                          "sip_call_id": {
                            "type": "string"
                          },
                          "sip_user_agent": {
                            "type": "string",
[...]
